@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header2{
    margin-top: 20px;
    height: 60px;
}
.header2Row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.location{
    width: 30px;
    height: 35px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
}
a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 14;
}

.first-part{
    display: flex;
}
.logo{
    width: 160px;
    margin-right: 30px;
}
.line{
    border-left: solid 1px white;
    width: 30px;
}
#office{
    margin-top: 10px;
    margin-left: 10px;
    /* margin-right: 100px; */
    padding-top: 5px;
    letter-spacing: 1px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.items{
    letter-spacing: 1px;
    margin-top: 13px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.item{
    display: block;
}
.item:hover{
    text-decoration: underline;
}
#office:hover{
    text-decoration: underline;
    text-decoration-color: white;
}