@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header2{
    margin-top: 20px;
    height: 60px;
}
.header2Row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.location{
    width: 30px;
    height: 35px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5px;
}
a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 14;
}

.first-part{
    display: flex;
}
.logo{
    width: 160px;
    margin-right: 30px;
}
.line{
    border-left: solid 1px white;
    width: 30px;
}
#office{
    margin-top: 10px;
    margin-left: 10px;
    /* margin-right: 100px; */
    padding-top: 5px;
    letter-spacing: 1px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.items{
    letter-spacing: 1px;
    margin-top: 13px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.item{
    display: block;
}
.item:hover{
    text-decoration: underline;
}
#office:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

@media(max-width: 340px){
    .header2{
        height: 220px;
        background-color: #2F343A;
        margin-bottom: 20px;
    }
    .line{
        display: none;
    }
    .first-part{
        flex-wrap: wrap;
    }
    .location{
        display: none;
    }
    .logo{
        margin-right: 20%;
        margin-left: 20%;
    }
    .office{
        margin: 0 auto;
    }
}
@media(max-width: 990px){
    .header2Row{
        flex-wrap: wrap;
        
    }
    .first-part{
        width: 100%;
        justify-content: center;
    }
    .header2{
        height: 200px;
    }
    #office{
        text-align: center;
    }
    .items{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .item{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}