@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
h1{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 58px;
    letter-spacing: 2px;
}
.mini-text{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 30px;
}
.first-sect{
    height: 620px;
    /* background-image: url(../images/Lorry.png) ; */
    background-color: #2f343ac3;
} 
.border{
    border: solid 2px #C8A35F;
    width: 900px;
    text-align: center;
    height: 245px;
    padding-top: 40px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 100px;
}